*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	align-items: stretch;
	display: grid;
	grid-template-columns: 150px 150px 19% 19% 19% 19%;
	grid-template-rows: 200px 200px 190px 190px 190px;
	grid-template-areas: 
		"aside aside main main main main"
		"aside aside main main main main"
		"aside aside section section section section"
		"aside aside section section section section"
		"aside aside section section section section"
		"aside aside section section section section";
	margin: 0px;
}

aside {
	align-items: center;
	background: #1f1f3d;
	color: #FFFFFF;
	display: flex;
	flex-flow: column;
	font-family: "Open Sans", sans-serif;
	grid-area: aside;
	margin: 0px;
	min-height: 100%;
}

h1 {
	font-size: 19px;
	font-weight: 700;
	margin: 15px auto 15px auto;
	width: 90%;
}

h2 {
	color: #BFBFDD;
	font-size: 14px;
	font-weight: 700;
	margin: 30px auto 20px auto;
	width: 90%;
}

img {
	width:25px;
	height: 25px;
}

button {
	background: #5356a4;
	border:	none;
	color: #ffffff;
	font-size: 23px;
	font-weight: 400;
	margin: 6% auto;
	height: 2em;
	width: 100%;
}

.button--new-quality,
.button--starred-ideas {
	width: 90%;
}

button,
input,
label {
	border-radius: 2px;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
}

label {
	font-size: 15px;
	font-weight: 700;
}

input {
	border: 1px solid #1F1F3D;
	font-size: 14px;
	padding: 3px 5px 3px 5px;
}

textarea {
	border: 1px solid #1F1F3D;
	font-size: 14px;
	height: 95px;
	margin-top: 3px;
	padding: 3px 5px 3px 5px;
	resize: none;
	width: 100%;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	font-size: 17px;
	margin: 0px auto 5px auto;
	padding-bottom: 2%;
	width: 90%;
}

.section--main-title,
.section--filter-starred,
.section--quality-filter,
.section--new-quality {
	border-bottom: 1px solid #353567;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.section--quality-filter {
	border: unset;
}

.form--new-quality {
	align-items: center;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.label--new-quality {
	color: #BFBFDD;
	font-size: 14px;
	margin: auto;
	width: 90%;
}

.input--new-quality {
	background-color: #BFBFDD;
	min-height: 3em;
	margin-top: 7px;
	width: 90%;
}

main {
	align-items: center;
	background: #a9aad2;
	color: #1f1f3d;
	display: flex;
	flex-flow: column;
	grid-area: main;
	margin-bottom: 40px;
	margin-left: 0;
	margin-top: 0;
	min-height: 100%;
	min-width: 75%;
	padding: 20px;
}

form {
	width: 50%;
}

main input {
	margin: 2% 0;
	min-height: 3em;
	width: 100%;
}

.input--title {
	margin-bottom: 22px;
	margin-top: 3px;
}

.input--body {
	min-height: 7em;
	margin-top: 5px;
}

.button--save-idea {
	background: #1f1f3d;
	margin-bottom: 0px;
	min-width: 100%;
}

.input--search-ideas {
	display: block;
}

.section--display-ideas {
	/*align-content: space-around;*/
	background: #eaeaf4;
	display: grid;
	grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(10, 50%);	
	flex-wrap: wrap;
	grid-area: section;
	justify-content: space-around;
	margin-left: 0;
	overflow: scroll;
	/*min-height: 15em;*/
}

.section--idea-card {
	border: solid #6E646B 2px;
	font-size: 1.25em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 10px 10px;
	/*width: 30%;*/
}

.article--idea-header {
	background-color: #1f1f3d;
	display:flex;
	flex-direction: row;
	justify-content: space-between;
}

.article--idea-content {
	color: #1F1F3D;
	padding: 10px;
}

.h3--idea-header {
	margin: 5px 0;
}


.article--idea-footer {
	background-color: #5356A4;
	color: #fff;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
  	height: 30px;
}
